@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap");

$primary_color: #1a9baf;
$secondery_color: #465567;
$other_color: #e6e9e8;

$screen_tablet: 700px;
$screen_mobile: 500px;
$screen_computer: 700px;

$p_size: 10px;
$h4_size: 13px;
$space: 20px;
$count: 1;

@mixin tablet {
  @media screen and (max-width: $screen_tablet) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $screen_mobile) {
    @content;
  }
}

@mixin computer {
  @media screen and (max-width: $screen_computer) {
    @content;
  }
}

body {
  font-family: "Muli";
  background-color: #fbfbfb;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
}

.avater {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.navbar {
  padding: 10px 30px 10px 10px;
  background-color: #8f8f8f0a;

  @include tablet {
    display: none !important;
  }

  .search {
    margin: 20px 10px 20px 0px;
    position: relative;
    input {
      border: 0px;
      margin: 10px;
      height: 25px;
      width: 100%;
      padding-left: 10px;
    }

    ion-icon {
      position: absolute;
      right: -10px;
      top: 15px;
    }
  }

  .profile {
    display: flex;
    flex-flow: row wrap;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
    .pic {
      position: relative;
      span {
        position: absolute;
        bottom: 0px;
        left: 30px;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    div {
      margin: 0px 5px;
    }

    .contact {
      margin: 10px 10px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      h4 {
        margin: 0px;
        font-size: 13px;
        letter-spacing: 0.1em;
      }
      p {
        margin: 0px;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.09em;
      }
    }
  }
}

.status {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
}

.small {
  height: 6px;
  width: 6px;
  border: 3px solid white;
}

.active {
  background-color: yellowgreen;
}

.unknown {
  background-color: rgb(255, 238, 87);
}

.deactive {
  background-color: rgb(248, 56, 72);
}

h4 {
  margin: 0px;
}

p {
  margin: 0px;
}

.container {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;

  .top_nav_bar {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #c0c0c00a;
    .user_detail {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      #menu {
        font-size: 20px;
        height: 30px;
        margin-left: -10px;
        margin-right: 10px;
        display: none !important;

        @include tablet {
          display: inline-block !important;
        }
      }

      img {
        margin-right: 20px;
      }

      .details {
        div {
          display: flex;
          flex-flow: row wrap;

          p {
            font-size: $p_size;
            margin-right: 15px;
            font-style: italic;
          }
        }
      }
    }
    .user_action {
      .top_right_menu {
        display: none !important;
      }

      @include phone {
        .action_icon {
          display: none;
          position: absolute;
        }
        .top_right_menu {
          // margin-left: -20px;
          display: inline-block !important;
        }
      }

      ion-icon {
        // background-color: rgb(180, 180, 180);
        border: 1px solid rgb(184, 184, 184);
        padding: 8px;
        margin: 0px 2px;
        border-radius: 100px;

        &:hover {
          transition: all 0.25s ease-in-out;
          border-width: 2px;
          cursor: pointer;
        }
      }
    }
  }

  .chats {
    margin: 0px 30px 0px 0px;
    height: 120vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f102;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .chat {
      display: flex;
      flex-flow: row wrap;
      margin: 15px 10px;
      align-items: center;

      img {
        margin: 0px 20px;
      }

      h2 {
        letter-spacing: 0.05em;
        font-weight: 600;
        max-width: 50vw;
        border-radius: 3px;
        padding: 10px;
        font-size: $h4_size;
        background-color: #fff;
        box-shadow: 0 0px 6px 0 rgba(139, 139, 139, 0.178),
          0 6px 20px 0 rgba(0, 0, 0, 0.034);
      }

      p {
        font-size: $p_size;
        margin: 10px 10px;
      }

      @include tablet {
        img {
          margin: 10px;
          margin-left: 20px;
        }

        p {
          margin: 10px 20px;
        }
      }
    }

    .myside {
      flex-flow: row-reverse wrap;
    }
  }

  .holder {
    position: sticky;
    bottom: 0;
    .action {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      #massageBox {
        // min-width: 300px;
        flex: 1;
        height: 50px;
        padding-right: 185px;
        border-radius: 5px;
        border: 1px solid rgba(27, 27, 27, 0.295);
        background-color: #fff;
        box-shadow: 0 0px 25px 0 rgba(139, 139, 139, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.034);
        font-size: 16px;
        letter-spacing: 0.02em;
        padding-left: 5px;
        padding-top: 10px;

        margin: 0px 0px;

        @include tablet {
          padding-right: 100px;
        }
      }

      .action_set {
        position: absolute;
        right: 5px;
        top: 13px;

        .more {
          display: none !important;
        }

        @include tablet {
          .more {
            display: inline-block !important;
          }

          .set_icon {
            display: none;
          }
        }

        ion-icon {
          font-size: 20px;
          margin-right: 10px;
          padding: 5px;

          &:hover {
            cursor: pointer;
            background-color: rgba(0, 168, 56, 0.322);
            border-radius: 100px;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }
}

/****** daynamic class **************/
.bottom_menu_popup {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0px 25px 0 rgba(139, 139, 139, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.034);
}
